DASHSCOPE_API_KEY=enterprise_dashscope_api_key
ONLYOFFICE_JWT_SECRET=enterprise_onlyoffice_jwt_secret
BACKEND_URL_FOR_DOCKER=host.docker.internal:3012
APP_HOST=localhost:3012
APP_PUBLIC_BASE_URL=http://host.docker.internal:3012
